//$panel-border-width : 1px !default;
//$panel-border-color : #afafaf !default;

//$panel-wrap-border-color : #afafaf;
//$panel-wrap-border-width : 1;
//
//$panel-body-border-color : #afafaf;
//$panel-body-border-width : 1;
//
//$panel-header-border-color : #afafaf;
//$panel-header-border-width : 1;

$panel-header-border-width : 2px !default;
$panel-frame-border-width : 2px !default;
$panel-header-padding : 5px 9px 3px 9px;


//$panel-frame-background-color: transparent !default;
//$panel-body-background-color: transparent !default;
//$panel-body-border-width : 0px !default;