$panel-border-width :  3px;
//$panel-frame-border-width : 3px;
//$panel-frame-header-border-width : 1px;
//$panel-frame-header-inner-border-width : 1px;
//$panel-header-border-width : 3px;
$panel-header-icon-height : 24px;
$panel-header-icon-width : 24px;

//#dashboard-panel-body {
//    background-image: url(../../../../resources/img/square.gif);
//}
//
//#dashboard-panel-innerCt {
//    padding: 20px;
//    vertical-align: middle;
//    > * {
//        margin: auto;
//    }
//}
//
